ul#search_result_list {
    padding-left: 10px;
    list-style-type: none;
}

ul#search_result_list li.search-result-item {
    cursor: pointer;
    padding-bottom: 5px;
}

ul#search_result_list li.search-result-item.file {
    color: #9d9d9d;
}


div#search_result {
    display: grid;
    grid-template-columns: 250px;
    grid-gap: 1em;
    padding: 3px;
    overflow: auto;
}


form#auth {
    padding: 10px;
    display: none;
}

div#button_panel {
    padding: 2px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

div#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 80%;
}
div#articles_list {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-row-gap: 5px;
    margin: 5px 5px 5px 5px;
}